Repository tomaszpolanski/fast_flutter_driver: changes, and which Codecov flags are due for each by the changed paths.
All: tool, driver, example

Update codecov.yml
  codecov.yml
Due: none

More tests
  tool/lib/src/preparing_tests/logger_extensions.dart
  tool/lib/src/preparing_tests/testing.dart
  tool/test/preparing_tests/logger_extensions_test.dart
Due: tool

More tests (#59)
  tool/lib/src/preparing_tests/logger_extensions.dart
  tool/lib/src/preparing_tests/testing.dart
  tool/test/preparing_tests/logger_extensions_test.dart
Due: tool

Cleaning up not needed window utils
  driver/lib/src/window_utils/window_utils.dart
Due: driver

Cleaning up not needed window utils (#60)
  driver/lib/src/window_utils/window_utils.dart
Due: driver

Update readmes
  README.md
  driver/README.md
  tool/README.md
Due: none

Update README.md
  driver/README.md
Due: none

wip
  driver/README.md
  tool/README.md
Due: none

Update readmes (#61)
  README.md
  driver/README.md
  tool/README.md
Due: none

Removing untestable from coverage
  dev/cov.sh
  tool/bin/main.dart
  tool/lib/src/preparing_tests/command_line/command_line_impl.dart
  tool/lib/src/preparing_tests/testing.dart
  tool/lib/src/update/path_provider_impl.dart
  tool/lib/src/update/version.dart
  tool/test/update/version_test.dart
Due: tool

Update build.yml
  .github/workflows/build.yml
Due: none

wip
  codecov.yml
  dev/cov.sh
Due: none

wip
  driver/lib/src/window_utils/window_utils.dart
  tool/lib/src/preparing_tests/command_line/command_line_impl.dart
  tool/lib/src/update/path_provider_impl.dart
Due: tool, driver

WIP
  dev/cov.sh
  tool/pubspec.yaml
Due: none

Update cov.sh
  dev/cov.sh
Due: none

wip
  dev/cov.sh
  tool/lib/src/preparing_tests/command_line/command_line_impl.dart
Due: none

Update pubspec.lock
  tool/pubspec.lock
Due: none

Update path_provider_impl.dart
  tool/lib/src/update/path_provider_impl.dart
Due: tool

Removing untestable from coverage (#62)
  .github/workflows/build.yml
  dev/cov.sh
  driver/lib/src/window_utils/window_utils.dart
  tool/bin/main.dart
  tool/lib/src/preparing_tests/command_line/command_line_impl.dart
  tool/lib/src/preparing_tests/testing.dart
  tool/lib/src/update/path_provider_impl.dart
  tool/lib/src/update/version.dart
  tool/pubspec.lock
  tool/pubspec.yaml
  tool/test/update/version_test.dart
Due: tool, driver

Updating example readme
  example/README.md
Due: none

More tests
  driver/test/driver_helper_test.dart
  driver/test/restart_widget_test.dart
Due: none

Updating example readme (#63)
  example/README.md
Due: none

More tests (#64)
  driver/test/driver_helper_test.dart
  driver/test/restart_widget_test.dart
Due: none

Updating pub.dev version
  driver/CHANGELOG.md
  driver/pubspec.yaml
  tool/CHANGELOG.md
  tool/pubspec.yaml
Due: none

Updating pub.dev version (#65)
  driver/CHANGELOG.md
  driver/pubspec.yaml
  tool/CHANGELOG.md
  tool/pubspec.yaml
Due: none

Duplication of update message
  tool/CHANGELOG.md
  tool/lib/src/update/version.dart
  tool/pubspec.yaml
Due: tool

Cleanup
  tool/bin/main.dart
  tool/lib/src/update/version.dart
  tool/test/update/version_test.dart
Due: tool

Duplication of update message (#66)
  tool/CHANGELOG.md
  tool/bin/main.dart
  tool/lib/src/update/version.dart
  tool/pubspec.yaml
  tool/test/update/version_test.dart
Due: tool

Updating documentation
  driver/CHANGELOG.md
  driver/README.md
  driver/example/README.md
  tool/README.md
Due: none

Updating documentation (#67)
  driver/CHANGELOG.md
  driver/README.md
  driver/example/README.md
  tool/README.md
Due: none

Path conditions:
  tool: any of: tool/lib/, but not: *_impl.dart, tool/lib/src/preparing_tests/command_line/command_line_impl.dart
  driver: any of: driver/lib/, but not: *_impl.dart, tool/lib/src/preparing_tests/command_line/command_line_impl.dart
  example: any of: example/lib/, but not: *_impl.dart, tool/lib/src/preparing_tests/command_line/command_line_impl.dart
