Repository tomaszpolanski/fast_flutter_driver: changes, and which Codecov flags are due for each by the changed paths.
All: tool, driver, example

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      tool:
        flags: tool
      driver:
        flags: driver
      example:
        flags: example

flags:
  # filter the folder(s) you wish to measure by that flag
  tool:
    paths:
      - tool/lib/
  driver:
    paths:
      - driver/lib/
  example:
    paths:
      - example/lib/

Updating dependency (#93)
  driver/pubspec.yaml
Due: none

Sorting tests by name
  tool/CHANGELOG.md
  tool/lib/src/preparing_tests/test_generator/test_generator.dart
  tool/pubspec.yaml
  tool/test/preparing_tests/test_generator/test_generator_test.dart
Due: tool

Sorting tests by name (#94)
  tool/CHANGELOG.md
  tool/lib/src/preparing_tests/test_generator/test_generator.dart
  tool/pubspec.yaml
  tool/test/preparing_tests/test_generator/test_generator_test.dart
Due: tool

[docs] rename main_test.dart to example_test.dart
  README.md
Due: none

Updating to flutter 1.23.0-18.1.pre
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/res/drawable/launch_background.xml
  example/android/app/src/main/res/values-night/styles.xml
  example/windows/flutter/.template_version
  example/windows/runner/CMakeLists.txt
  example/windows/runner/Runner.rc
  example/windows/runner/flutter_window.cpp
  example/windows/runner/flutter_window.h
  example/windows/runner/main.cpp
  example/windows/runner/run_loop.cpp
  example/windows/runner/run_loop.h
  example/windows/runner/utils.h
  example/windows/runner/win32_window.cpp
  example/windows/runner/win32_window.h
  example/windows/runner/window_configuration.cpp
  example/windows/runner/window_configuration.h
Due: none

updating lint
  driver/analysis_options.yaml
  example/analysis_options.yaml
  tool/analysis_options.yaml
Due: none

updating readme
  example/Dockerfile
  example/README.md
Due: none

wip
  driver/pubspec.yaml
  tool/pubspec.yaml
Due: none

[docs] rename main_test.dart to example_test.dart (#96)
  README.md
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

wip
  driver/analysis_options.yaml
  example/analysis_options.yaml
  tool/analysis_options.yaml
Due: none

Updating to flutter 1.23 (#97)
  .github/workflows/build.yml
  driver/analysis_options.yaml
  driver/pubspec.yaml
  example/Dockerfile
  example/README.md
  example/analysis_options.yaml
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/res/drawable/launch_background.xml
  example/android/app/src/main/res/values-night/styles.xml
  example/windows/flutter/.template_version
  example/windows/runner/CMakeLists.txt
  example/windows/runner/Runner.rc
  example/windows/runner/flutter_window.cpp
  example/windows/runner/flutter_window.h
  example/windows/runner/main.cpp
  example/windows/runner/run_loop.cpp
  example/windows/runner/run_loop.h
  example/windows/runner/utils.h
  example/windows/runner/win32_window.cpp
  example/windows/runner/win32_window.h
  example/windows/runner/window_configuration.cpp
  example/windows/runner/window_configuration.h
  tool/analysis_options.yaml
  tool/pubspec.yaml
Due: none

Updating the way on how to fetch flutter...
  example/Dockerfile
Due: none

Allowing to extend flutter dart and test commands
  tool/lib/src/preparing_tests/commands.dart
  tool/lib/src/preparing_tests/parameters.dart
  tool/lib/src/preparing_tests/testing.dart
  tool/test/preparing_tests/commands_test.dart
Due: tool

Adding flutter and dart arguments
  tool/bin/main.dart
  tool/lib/src/preparing_tests/parameters.dart
  tool/lib/src/preparing_tests/testing.dart
  tool/test/main_lib_test.dart
  tool/test/preparing_tests/testing_test.dart
Due: tool

adding additional arguments
  tool/bin/main.dart
  tool/lib/src/preparing_tests/parameters.dart
  tool/lib/src/preparing_tests/testing.dart
  tool/lib/src/running_tests/parameters.dart
  tool/lib/src/running_tests/test_properties.dart
  tool/test/main_lib_test.dart
  tool/test/preparing_tests/testing_test.dart
  tool/test/running_tests/test_properties_test.dart
Due: tool

updating readme
  tool/CHANGELOG.md
  tool/lib/src/preparing_tests/testing.dart
  tool/pubspec.yaml
  tool/test/preparing_tests/testing_test.dart
Due: tool

Update pubspec.yaml
  driver/pubspec.yaml
Due: none

wip
  driver/CHANGELOG.md
  driver/pubspec.yaml
Due: none

wip
  driver/pubspec.yaml
  example/pubspec.yaml
Due: none

Update pubspec.yaml
  example/pubspec.yaml
Due: none

wip
  driver/analysis_options.yaml
  example/analysis_options.yaml
  tool/analysis_options.yaml
  tool/pubspec.lock
Due: none

Allowing to extend flutter dart and test commands (#99)
  .github/workflows/build.yml
  driver/CHANGELOG.md
  driver/analysis_options.yaml
  driver/pubspec.yaml
  example/analysis_options.yaml
  tool/CHANGELOG.md
  tool/analysis_options.yaml
  tool/bin/main.dart
  tool/lib/src/preparing_tests/commands.dart
  tool/lib/src/preparing_tests/parameters.dart
  tool/lib/src/preparing_tests/testing.dart
  tool/lib/src/running_tests/parameters.dart
  tool/lib/src/running_tests/test_properties.dart
  tool/pubspec.lock
  tool/pubspec.yaml
  tool/test/main_lib_test.dart
  tool/test/preparing_tests/commands_test.dart
  tool/test/preparing_tests/testing_test.dart
  tool/test/running_tests/test_properties_test.dart
Due: tool

Fixing version detection
  tool/CHANGELOG.md
  tool/lib/src/update/version.dart
  tool/pubspec.lock
  tool/pubspec.yaml
  tool/test/update/version_test.dart
Due: tool

Revert "Update pubspec.yaml"
  driver/pubspec.yaml
Due: none

Fixing version detection (#102)
  .github/workflows/build.yml
  tool/CHANGELOG.md
  tool/lib/src/update/version.dart
  tool/pubspec.lock
  tool/pubspec.yaml
  tool/test/update/version_test.dart
Due: tool

Initial web driver support
  driver/CHANGELOG.md
  driver/lib/src/driver_helper.dart
  driver/lib/src/window_utils/windows/_fake_window.dart
  driver/lib/src/window_utils/windows/_win32_window.dart
  driver/lib/src/window_utils/windows/win32_window.dart
  example/debug.log
  tool/CHANGELOG.md
  tool/lib/src/preparing_tests/testing.dart
  tool/test/preparing_tests/testing_test.dart
Due: tool, driver

Delete debug.log
  example/debug.log
Due: none

Initial web driver support (#103)
  driver/CHANGELOG.md
  driver/lib/src/driver_helper.dart
  driver/lib/src/window_utils/windows/_fake_window.dart
  driver/lib/src/window_utils/windows/_win32_window.dart
  driver/lib/src/window_utils/windows/win32_window.dart
  driver/pubspec.yaml
  tool/CHANGELOG.md
  tool/lib/src/preparing_tests/testing.dart
  tool/test/preparing_tests/testing_test.dart
Due: tool, driver

Implementing nnbd (non nullable types)
  tool/CHANGELOG.md
  tool/analysis_options.yaml
  tool/lib/src/preparing_tests/command_line/command_line_impl.dart
  tool/lib/src/preparing_tests/commands.dart
  tool/lib/src/preparing_tests/file_system.dart
  tool/lib/src/preparing_tests/parameters.dart
  tool/lib/src/preparing_tests/resolution.dart
  tool/lib/src/preparing_tests/test_generator/test_generator.dart
  tool/lib/src/preparing_tests/testing.dart
  tool/lib/src/running_tests/parameters.dart
  tool/lib/src/running_tests/test_properties.dart
  tool/lib/src/update/version.dart
  tool/lib/src/utils/enum.dart
  tool/lib/src/utils/list.dart
  tool/lib/src/utils/system.dart
  tool/pubspec.lock
  tool/pubspec.yaml
  tool/test/main_lib_test.dart
  tool/test/preparing_tests/logger_extensions_test.dart
  tool/test/preparing_tests/resolution_test.dart
  tool/test/preparing_tests/test_generator/test_merger_test.dart
  tool/test/preparing_tests/testing_test.dart
  tool/test/running_tests/parameters_test.dart
  tool/test/update/version_test.dart
  tool/test/utils/enum_test.dart
Due: tool

WIP
  tool/lib/src/preparing_tests/testing.dart
  tool/lib/src/update/version.dart
  tool/pubspec.lock
  tool/pubspec.yaml
  tool/test/main_lib_test.dart
  tool/test/mockito_nnbd.dart
  tool/test/preparing_tests/file_system_test.dart
  tool/test/preparing_tests/resolution_test.dart
  tool/test/preparing_tests/test_generator/test_generator_test.dart
  tool/test/preparing_tests/test_generator/test_merger_test.dart
  tool/test/update/version_test.dart
Due: tool
