Repository tomaszpolanski/fast_flutter_driver: changes, and which Codecov flags are due for each by the changed paths.
All: tool, driver, example

Adding tests
  tool/CHANGELOG.md
  tool/lib/src/preparing_tests/file_system.dart
  tool/lib/src/preparing_tests/resolution.dart
  tool/pubspec.yaml
  tool/test/preparing_tests/file_system_test.dart
  tool/test/preparing_tests/resolution_test.dart
Due: tool

Update file_system.dart
  tool/lib/src/preparing_tests/file_system.dart
Due: tool

Fixing update notification
  tool/CHANGELOG.md
  tool/lib/src/update/version.dart
  tool/test/update/version_test.dart
Due: tool

Not throwing exception when command not found
  tool/bin/main.dart
  tool/lib/src/utils/lazy_logger.dart
  tool/test/main_lib_test.dart
  tool/test/utils/lazy_logger_test.dart
Due: tool

WIP
  tool/bin/main.dart
  tool/lib/src/utils/lazy_logger.dart
  tool/test/main_lib_test.dart
  tool/test/utils/lazy_logger_test.dart
Due: tool

Updating version
  tool/CHANGELOG.md
  tool/pubspec.yaml
Due: none

Not throwing exception when command not found (#85)
  tool/CHANGELOG.md
  tool/bin/main.dart
  tool/lib/src/utils/lazy_logger.dart
  tool/pubspec.yaml
  tool/test/main_lib_test.dart
  tool/test/utils/lazy_logger_test.dart
Due: tool

Update build.yml
  .github/workflows/build.yml
Due: none

Update README.md
  example/README.md
Due: none

Fixing issue of running tests from dirs on Windows
  tool/CHANGELOG.md
  tool/lib/src/preparing_tests/test_generator/test_generator.dart
  tool/pubspec.yaml
  tool/test/preparing_tests/test_generator/test_generator_test.dart
Due: tool

Fixing issue of running tests from dirs on Windows (#86)
  tool/CHANGELOG.md
  tool/lib/src/preparing_tests/test_generator/test_generator.dart
  tool/pubspec.yaml
  tool/test/preparing_tests/test_generator/test_generator_test.dart
Due: tool

Do not override platform...
  driver/CHANGELOG.md
  driver/lib/src/driver_helper.dart
  driver/pubspec.yaml
  driver/test/driver_helper_test.dart
Due: driver

Do not override platform... (#87)
  driver/CHANGELOG.md
  driver/lib/src/driver_helper.dart
  driver/pubspec.yaml
  driver/test/driver_helper_test.dart
Due: driver

Flutter 1.20.0 cleanup
  example/macos/Flutter/Flutter-Debug.xcconfig
  example/macos/Flutter/Flutter-Release.xcconfig
  example/macos/Runner.xcodeproj/project.pbxproj
  example/macos/Runner.xcworkspace/contents.xcworkspacedata
Due: none

Update analysis_options.yaml
  tool/analysis_options.yaml
Due: none

wip
  driver/analysis_options.yaml
  driver/lib/src/driver_helper.dart
Due: driver

Update analysis_options.yaml
  driver/analysis_options.yaml
Due: none

Flutter 1.20.0 cleanup (#88)
  driver/analysis_options.yaml
  driver/lib/src/driver_helper.dart
  example/macos/Flutter/Flutter-Debug.xcconfig
  example/macos/Flutter/Flutter-Release.xcconfig
  example/macos/Runner.xcodeproj/project.pbxproj
  example/macos/Runner.xcworkspace/contents.xcworkspacedata
  tool/analysis_options.yaml
Due: driver

Adding docker example
  example/Dockerfile
  example/build_docker.sh
Due: none

Updating readmes
  README.md
  example/README.md
Due: none

Update README.md
  README.md
Due: none

Adding docker example (#89)
  README.md
  example/Dockerfile
  example/README.md
  example/build_docker.sh
Due: none

Adding example for screenshots
  example/README.md
  example/test_driver/generic/screenshots.dart
  example/test_driver/route_test.dart
Due: none

Adding example for screenshots (#90)
  example/README.md
  example/test_driver/generic/screenshots.dart
  example/test_driver/route_test.dart
Due: none

Updating documentation
  example/Dockerfile
  example/README.md
Due: none

Fixing broken readme link
  README.md
Due: none

Updating readmes
  README.md
  driver/README.md
  tool/README.md
Due: none

Fixnig links
  driver/README.md
  tool/README.md
Due: none

Running UI tests on codemagic
  codemagic.yaml
  example/run_docker_example.sh
Due: none

Investigating codemagic badge
  codemagic.yaml
  example/README.md
Due: none

Updating badges
  codemagic.yaml
  example/README.md
Due: none

Updating flutter to 1.22.0-12.1.pre,
  example/android/app/build.gradle
  example/android/gradle.properties
  example/ios/Flutter/AppFrameworkInfo.plist
  example/ios/Flutter/Debug.xcconfig
  example/ios/Flutter/Release.xcconfig
  example/ios/Runner.xcodeproj/project.pbxproj
  example/ios/Runner.xcworkspace/contents.xcworkspacedata
  example/linux/CMakeLists.txt
  example/linux/flutter/CMakeLists.txt
  example/linux/main.cc
  example/linux/my_application.cc
  example/macos/Runner.xcodeproj/project.pbxproj
  example/windows/flutter/.template_version
  example/windows/flutter/CMakeLists.txt
  example/windows/runner/flutter_window.cpp
  example/windows/runner/flutter_window.h
  example/windows/runner/run_loop.cpp
  example/windows/runner/run_loop.h
  example/windows/runner/win32_window.cpp
  example/windows/runner/win32_window.h
Due: none

wip
  driver/CHANGELOG.md
  driver/pubspec.yaml
  tool/CHANGELOG.md
  tool/pubspec.yaml
Due: none

Updating flutter to 1.22.0 12.1.pre, (#92)
  driver/CHANGELOG.md
  driver/pubspec.yaml
  example/README.md
  example/android/app/build.gradle
  example/android/gradle.properties
  example/ios/Flutter/AppFrameworkInfo.plist
  example/ios/Flutter/Debug.xcconfig
  example/ios/Flutter/Release.xcconfig
  example/ios/Runner.xcodeproj/project.pbxproj
  example/ios/Runner.xcworkspace/contents.xcworkspacedata
  example/linux/CMakeLists.txt
  example/linux/flutter/CMakeLists.txt
  example/linux/main.cc
  example/linux/my_application.cc
  example/macos/Runner.xcodeproj/project.pbxproj
  example/windows/flutter/.template_version
  example/windows/flutter/CMakeLists.txt
  example/windows/runner/flutter_window.cpp
  example/windows/runner/flutter_window.h
  example/windows/runner/run_loop.cpp
  example/windows/runner/run_loop.h
  example/windows/runner/win32_window.cpp
  example/windows/runner/win32_window.h
  tool/CHANGELOG.md
  tool/pubspec.yaml
Due: none

updating docker
  example/Dockerfile
Due: none

Updating dependency
  driver/pubspec.yaml
Due: none

Path conditions:
  tool: any of: tool/lib/
  driver: any of: driver/lib/
  example: any of: example/lib/
