Repository tomaszpolanski/fast_flutter_driver: changes, and which Codecov flags are due for each by the changed paths.
All: tool, driver, example

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      tool:
        flags: tool
      driver:
        flags: driver
      example:
        flags: example

flags:
  # filter the folder(s) you wish to measure by that flag
  tool:
    paths:
      - tool/lib/
  driver:
    paths:
      - driver/lib/
  example:
    paths:
      - example/lib/

Fixing changing resolution on windows
  driver/CHANGELOG.md
  driver/lib/src/driver_helper.dart
  driver/lib/src/window_utils/win32_window.dart
  driver/lib/src/window_utils/windows/_win32_window.dart
  driver/lib/src/window_utils/windows/win32_window.dart
  driver/pubspec.yaml
Due: driver

Fixing braking changes
  driver/CHANGELOG.md
  driver/pubspec.yaml
Due: none

Fixing changing resolution on windows (#116)
  driver/CHANGELOG.md
  driver/lib/src/driver_helper.dart
  driver/lib/src/window_utils/win32_window.dart
  driver/lib/src/window_utils/windows/_win32_window.dart
  driver/lib/src/window_utils/windows/win32_window.dart
  driver/pubspec.yaml
Due: driver

Updating example's deps
  example/pubspec.yaml
Due: none

Adding deprecation warning
  README.md
  driver/CHANGELOG.md
  driver/README.md
  driver/pubspec.yaml
  example/test_driver/generic/screenshots.dart
  tool/CHANGELOG.md
  tool/README.md
  tool/pubspec.yaml
Due: none

Adding deprecation warning (#117)
  README.md
  driver/CHANGELOG.md
  driver/README.md
  driver/pubspec.yaml
  example/test_driver/generic/screenshots.dart
  tool/CHANGELOG.md
  tool/README.md
  tool/pubspec.yaml
Due: none

Updating to flutter 2.5.0
  driver/test/driver_helper_test.dart
  example/README.md
  example/lib/pages/base_page.dart
  tool/CHANGELOG.md
  tool/analysis_options.yaml
  tool/lib/src/preparing_tests/testing.dart
  tool/lib/src/running_tests/parameters.dart
  tool/lib/src/update/version.dart
  tool/pubspec.lock
  tool/pubspec.yaml
  tool/test/mocks/mock_file.dart
  tool/test/preparing_tests/testing_test.dart
  tool/test/update/version_test.dart
Due: tool, example

Updating to flutter 2.5.0 (#120)
  driver/test/driver_helper_test.dart
  example/README.md
  example/lib/pages/base_page.dart
  tool/CHANGELOG.md
  tool/analysis_options.yaml
  tool/lib/src/preparing_tests/testing.dart
  tool/lib/src/running_tests/parameters.dart
  tool/lib/src/update/version.dart
  tool/pubspec.lock
  tool/pubspec.yaml
  tool/test/mocks/mock_file.dart
  tool/test/preparing_tests/testing_test.dart
  tool/test/update/version_test.dart
Due: tool, example

Fixing bug in build value and build
  tool/pubspec.lock
  tool/pubspec.yaml
  tool/test/main_lib_test.dart
Due: none

Fixing bug in build value and build (#121)
  tool/pubspec.lock
  tool/pubspec.yaml
  tool/test/main_lib_test.dart
Due: none
