Repository tomaszpolanski/fast_flutter_driver: changes, and which Codecov flags are due for each by the changed paths.
All: tool, driver, example

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      tool:
        flags: tool
      driver:
        flags: driver
      example:
        flags: example

flags:
  # filter the folder(s) you wish to measure by that flag
  tool:
    paths:
      - tool/lib/
  driver:
    paths:
      - driver/lib/
  example:
    paths:
      - example/lib/

wip
  driver/lib/src/window_utils/windows/_win32_window.dart
  driver/pubspec.yaml
  example/pubspec.yaml
Due: driver

wip
  driver/lib/src/window_utils/windows/_win32_window.dart
  example/windows/flutter/CMakeLists.txt
  example/windows/runner/win32_window.cpp
Due: driver

wip
  example/Dockerfile
  example/README.md
Due: none

Update README.md
  driver/README.md
Due: none

wip
  driver/README.md
  tool/README.md
Due: none

wip
  driver/README.md
  example/Dockerfile
  example/README.md
  example/run_docker_example.sh
  tool/README.md
Due: none

Release cleanup (#111)
  README.md
  driver/README.md
  driver/lib/src/window_utils/windows/_win32_window.dart
  driver/pubspec.yaml
  example/Dockerfile
  example/README.md
  example/lib/app.dart
  example/lib/pages/base_page.dart
  example/lib/pages/page_1.dart
  example/lib/pages/page_2.dart
  example/lib/pages/page_3.dart
  example/lib/pages/page_4.dart
  example/pubspec.yaml
  example/run_docker_example.sh
  example/test_driver/generic/generic.dart
  example/test_driver/generic/screenshots.dart
  example/test_driver/generic/test_configuration.dart
  example/test_driver/route_test.dart
  example/test_driver/simple_test.dart
  example/test_driver/subdir_tests/subdir_test.dart
  example/windows/flutter/CMakeLists.txt
  example/windows/runner/win32_window.cpp
  tool/README.md
  tool/test/preparing_tests/test_generator/test_generator_test.mocks.dart
  tool/test/preparing_tests/test_generator/test_merger_test.mocks.dart
Due: driver, example

Update README.md
  README.md
Due: none

Fixing formatting
  driver/lib/src/window_utils/window_utils.dart
Due: driver

Update pubspec.lock
  tool/pubspec.lock
Due: none

Update pubspec.yaml
  driver/pubspec.yaml
Due: none

wip
  driver/CHANGELOG.md
  driver/pubspec.yaml
  tool/CHANGELOG.md
  tool/pubspec.yaml
Due: none

wip
  driver/pubspec.yaml
  example/pubspec.yaml
Due: none

wip
  driver/CHANGELOG.md
  driver/pubspec.yaml
Due: none

Update CHANGELOG.md
  driver/CHANGELOG.md
Due: none

Cleanup (#113)
  driver/CHANGELOG.md
  driver/pubspec.yaml
  example/pubspec.yaml
  tool/CHANGELOG.md
  tool/pubspec.yaml
Due: none

Updating to 2.0.0
  tool/README.md
  tool/lib/src/preparing_tests/testing.dart
  tool/pubspec.lock
  tool/pubspec.yaml
Due: tool

Update build.yml
  .github/workflows/build.yml
Due: none

wip
  driver/CHANGELOG.md
  driver/README.md
  driver/pubspec.yaml
  tool/CHANGELOG.md
Due: none

wip
  tool/lib/src/utils/lazy_logger.dart
  tool/test/utils/lazy_logger_test.dart
Due: tool

Update version.dart
  tool/lib/src/update/version.dart
Due: tool

WIP
  tool/pubspec.lock
  tool/pubspec.yaml
Due: none

Revert "Update pubspec.lock"
  tool/pubspec.lock
Due: none

Revert "WIP"
  tool/pubspec.lock
  tool/pubspec.yaml
Due: none

wip
  tool/pubspec.lock
  tool/pubspec.yaml
  tool/test/mocks/mock_file.dart
  tool/test/preparing_tests/file_system_test.dart
  tool/test/preparing_tests/resolution_test.dart
  tool/test/preparing_tests/test_generator/test_generator_test.dart
  tool/test/preparing_tests/test_generator/test_merger_test.dart
  tool/test/preparing_tests/testing_test.dart
  tool/test/update/version_test.dart
Due: none

wip
  tool/test/preparing_tests/resolution_test.dart
  tool/test/preparing_tests/testing_test.dart
  tool/test/update/version_test.dart
Due: none

Updating to 2.0.0 (#114)
  .github/workflows/build.yml
  driver/CHANGELOG.md
  driver/README.md
  driver/pubspec.yaml
  tool/CHANGELOG.md
  tool/README.md
  tool/lib/src/preparing_tests/testing.dart
  tool/lib/src/update/version.dart
  tool/lib/src/utils/lazy_logger.dart
  tool/pubspec.lock
  tool/pubspec.yaml
  tool/test/mocks/mock_file.dart
  tool/test/preparing_tests/file_system_test.dart
  tool/test/preparing_tests/resolution_test.dart
  tool/test/preparing_tests/test_generator/test_generator_test.dart
  tool/test/preparing_tests/test_generator/test_merger_test.dart
  tool/test/preparing_tests/testing_test.dart
  tool/test/update/version_test.dart
  tool/test/utils/lazy_logger_test.dart
Due: tool

Upgrading dependencies
  driver/pubspec.yaml
  example/pubspec.yaml
  tool/pubspec.yaml
Due: none

Upgrading dependencies (#115)
  driver/pubspec.yaml
  example/pubspec.yaml
  tool/pubspec.yaml
Due: none

Fixing issue with resolution on windows
  driver/lib/src/window_utils/windows/_win32_window.dart
  driver/pubspec.yaml
Due: driver

wip
  driver/lib/src/driver_helper.dart
  driver/lib/src/window_utils/win32_window.dart
  driver/lib/src/window_utils/windows/_fake_window.dart
  driver/lib/src/window_utils/windows/win32_window.dart
  driver/pubspec.yaml
Due: driver
