Repository tomaszpolanski/fast_flutter_driver: changes, and which Codecov flags are due for each by the changed paths.
All: tool, driver, example

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      tool:
        flags: tool
      driver:
        flags: driver
      example:
        flags: example

flags:
  # filter the folder(s) you wish to measure by that flag
  tool:
    paths:
      - tool/lib/
  driver:
    paths:
      - driver/lib/
  example:
    paths:
      - example/lib/

Update pubspec.yaml
  driver/pubspec.yaml
Due: none

Updating documentation (#68)
  driver/pubspec.yaml
Due: none

Adding tests
  driver/test/delayed_test.dart
  driver/test/restart_widget_test.dart
Due: none

Adding tests (#69)
  driver/test/delayed_test.dart
  driver/test/restart_widget_test.dart
Due: none

Exposing system helper class
  tool/CHANGELOG.md
  tool/lib/fast_flutter_driver_tool.dart
  tool/lib/src/utils/system.dart
  tool/pubspec.yaml
  tool/test/utils/systerm_test.dart
Due: tool

Update pubspec.yaml
  tool/pubspec.yaml
Due: none

Exposing system helper class (#70)
  tool/CHANGELOG.md
  tool/lib/fast_flutter_driver_tool.dart
  tool/lib/src/utils/system.dart
  tool/pubspec.yaml
  tool/test/utils/systerm_test.dart
Due: tool

Improving tests
  driver/CHANGELOG.md
  driver/lib/src/driver_helper.dart
  driver/pubspec.yaml
  driver/test/window_utils/window_utils_test.dart
Due: driver

wip
  driver/lib/src/window_utils/macos_window.dart
  driver/lib/src/window_utils/unsupported_window.dart
  driver/lib/src/window_utils/win32_window.dart
  driver/lib/src/window_utils/window_utils.dart
Due: driver

wip
  driver/lib/src/restart_widget.dart
  driver/test/driver_helper_test.dart
  driver/test/window_utils/unsupported_window_test.dart
Due: driver

Improving tests (#71)
  driver/CHANGELOG.md
  driver/lib/src/driver_helper.dart
  driver/lib/src/restart_widget.dart
  driver/lib/src/window_utils/macos_window.dart
  driver/lib/src/window_utils/unsupported_window.dart
  driver/lib/src/window_utils/win32_window.dart
  driver/lib/src/window_utils/window_utils.dart
  driver/pubspec.yaml
  driver/test/driver_helper_test.dart
  driver/test/window_utils/unsupported_window_test.dart
  driver/test/window_utils/window_utils_test.dart
Due: driver

More tests
  tool/lib/src/preparing_tests/testing.dart
  tool/test/preparing_tests/test_generator/test_generator_test.dart
Due: tool

More tests (#72)
  tool/lib/src/preparing_tests/testing.dart
  tool/test/preparing_tests/test_generator/test_generator_test.dart
Due: tool

Fixing issue with running tests from folder
  tool/lib/src/preparing_tests/test_generator/test_generator.dart
  tool/test/preparing_tests/test_generator/test_generator_test.dart
Due: tool

Fixing issue with generating tests
  tool/bin/main.dart
  tool/lib/src/preparing_tests/test_generator/test_generator.dart
  tool/lib/src/preparing_tests/test_generator/test_merger.dart
  tool/test/preparing_tests/test_generator/test_generator_test.dart
Due: tool

wip
  tool/lib/src/preparing_tests/test_generator/test_generator.dart
  tool/test/preparing_tests/test_generator/test_generator_test.dart
Due: tool

Update test_generator_test.dart
  tool/test/preparing_tests/test_generator/test_generator_test.dart
Due: none

Fixing issue with running tests from folder (#76)
  tool/bin/main.dart
  tool/lib/src/preparing_tests/test_generator/test_generator.dart
  tool/lib/src/preparing_tests/test_generator/test_merger.dart
  tool/test/preparing_tests/test_generator/test_generator_test.dart
Due: tool

Release 1.1.1
  tool/CHANGELOG.md
  tool/pubspec.yaml
Due: none

Adding application flavor
  tool/bin/main.dart
  tool/lib/src/preparing_tests/commands.dart
  tool/lib/src/preparing_tests/parameters.dart
  tool/lib/src/preparing_tests/test_generator/test_generator.dart
  tool/lib/src/preparing_tests/testing.dart
  tool/test/main_lib_test.dart
  tool/test/preparing_tests/commands_test.dart
  tool/test/preparing_tests/testing_test.dart
Due: tool

Release 1.1.1 (#77)
  tool/CHANGELOG.md
  tool/pubspec.yaml
Due: none

wip
  tool/CHANGELOG.md
  tool/bin/main.dart
  tool/pubspec.yaml
Due: none

Update main_lib_test.dart
  tool/test/main_lib_test.dart
Due: none

Adding application flavor (#78)
  tool/CHANGELOG.md
  tool/bin/main.dart
  tool/lib/src/preparing_tests/commands.dart
  tool/lib/src/preparing_tests/parameters.dart
  tool/lib/src/preparing_tests/test_generator/test_generator.dart
  tool/lib/src/preparing_tests/testing.dart
  tool/pubspec.yaml
  tool/test/main_lib_test.dart
  tool/test/preparing_tests/commands_test.dart
  tool/test/preparing_tests/test_generator/test_generator_test.dart
  tool/test/preparing_tests/testing_test.dart
Due: tool

Update README.md
  tool/README.md
Due: none

Minor lint fix
  tool/lib/src/preparing_tests/test_generator/test_generator.dart
Due: tool

Minor lint fix (#79)
  tool/lib/src/preparing_tests/test_generator/test_generator.dart
Due: tool

Updating dependencies
  tool/pubspec.lock
  tool/pubspec.yaml
Due: none

Updating dependencies (#80)
  tool/pubspec.lock
  tool/pubspec.yaml
Due: none

Adding documentation to the code
  tool/lib/src/running_tests/parameters.dart
  tool/lib/src/running_tests/resolution.dart
  tool/lib/src/running_tests/test_properties.dart
  tool/lib/src/utils/colorizing.dart
  tool/lib/src/utils/enum.dart
  tool/lib/src/utils/system.dart
Due: tool

Adding documentation to the code (#81)
  tool/lib/src/running_tests/parameters.dart
  tool/lib/src/running_tests/resolution.dart
  tool/lib/src/running_tests/test_properties.dart
  tool/lib/src/utils/colorizing.dart
  tool/lib/src/utils/enum.dart
  tool/lib/src/utils/system.dart
Due: tool

Updating version
  tool/CHANGELOG.md
  tool/pubspec.yaml
Due: none

Minor cleanup
  tool/CHANGELOG.md
  tool/lib/src/preparing_tests/testing.dart
  tool/lib/src/update/version.dart
  tool/pubspec.yaml
Due: tool

Updating flutter to 1.20
  example/android/.gitignore
  example/android/app/build.gradle
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/kotlin/com/example/example/MainActivity.kt
  example/android/settings.gradle
  example/ios/Flutter/Debug.xcconfig
  example/ios/Flutter/Release.xcconfig
  example/ios/Runner.xcodeproj/project.pbxproj
  example/ios/Runner.xcworkspace/contents.xcworkspacedata
  example/linux/CMakeLists.txt
  example/linux/flutter/.template_version
  example/linux/flutter/CMakeLists.txt
  example/linux/main.cc
  example/linux/my_application.cc
  example/linux/my_application.h
  example/linux/window_configuration.cc
  example/linux/window_configuration.h
  example/web/index.html
  example/web/manifest.json
  example/windows/AppConfiguration.props
  example/windows/CMakeLists.txt
  example/windows/FlutterBuild.vcxproj
  example/windows/Runner.sln
  example/windows/Runner.vcxproj
  example/windows/Runner.vcxproj.filters
  example/windows/flutter/.template_version
  example/windows/flutter/CMakeLists.txt
  example/windows/flutter/GeneratedPlugins.props
  example/windows/flutter/generated_plugins.cmake
  example/windows/runner/CMakeLists.txt
  example/windows/scripts/bundle_assets_and_deps.bat
  example/windows/scripts/prepare_dependencies.bat
Due: none

WIP
  .gitignore
  example/windows/flutter/generated_plugins.cmake
Due: none

Updating macos
  example/ios/Flutter/Debug.xcconfig
  example/ios/Flutter/Release.xcconfig
  example/macos/Flutter/Flutter-Debug.xcconfig
  example/macos/Flutter/Flutter-Release.xcconfig
  example/macos/Runner.xcodeproj/project.pbxproj
  example/macos/Runner.xcworkspace/contents.xcworkspacedata
Due: none

WIP
  .gitignore
  example/ios/Runner.xcodeproj/project.pbxproj
  example/ios/Runner.xcworkspace/contents.xcworkspacedata
Due: none

Update README.md
  example/README.md
Due: none
