Repository tomaszpolanski/fast_flutter_driver: changes, and which Codecov flags are due for each by the changed paths.
All: tool, driver, example

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      tool:
        flags: tool
      driver:
        flags: driver
      example:
        flags: example

flags:
  # filter the folder(s) you wish to measure by that flag
  tool:
    paths:
      - tool/lib/
  driver:
    paths:
      - driver/lib/
  example:
    paths:
      - example/lib/

wip
  .github/workflows/build.yml
  tool/pubspec.lock
  tool/pubspec.yaml
Due: none

wip
  .github/workflows/build.yml
  tool/pubspec.yaml
Due: none

Update pubspec.yaml
  tool/pubspec.yaml
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

Update cov.sh
  dev/cov.sh
Due: none

wip
  tool/lib/src/utils/colorize/src/color.dart
  tool/lib/src/utils/colorize/src/colorize.dart
Due: tool

wip
  .github/workflows/build.yml
  dev/cov.sh
Due: none

Update test_generator.dart
  tool/lib/src/preparing_tests/test_generator/test_generator.dart
Due: tool

wip
  tool/test/preparing_tests/test_generator/test_generator_test.dart
  tool/test/preparing_tests/test_generator/test_merger_test.dart
Due: none

Revert "wip"
  tool/test/preparing_tests/test_generator/test_generator_test.dart
  tool/test/preparing_tests/test_generator/test_merger_test.dart
Due: none

Revert "Update test_generator.dart"
  tool/lib/src/preparing_tests/test_generator/test_generator.dart
Due: tool

Revert "Update pubspec.yaml"
  tool/pubspec.yaml
Due: none

Updating readme for non migrated nnbd users
  README.md
Due: none

Updating readme with nullsafety
  README.md
Due: none

wip
  tool/bin/main.dart
  tool/pubspec.lock
  tool/pubspec.yaml
  tool/test/main_lib_test.mocks_keep.dart
  tool/test/preparing_tests/file_system_test.dart
  tool/test/preparing_tests/file_system_test.mocks.dart
  tool/test/preparing_tests/parameters_test.mocks.dart
  tool/test/preparing_tests/resolution_test.dart
  tool/test/preparing_tests/resolution_test.mocks.dart
  tool/test/preparing_tests/testing_test.mocks.dart
  tool/test/update/version_test.dart
  tool/test/utils/lazy_logger_test.mocks.dart
Due: none

Update main_lib_test.dart
  tool/test/main_lib_test.dart
Due: none

Update resolution_test.dart
  tool/test/preparing_tests/resolution_test.dart
Due: none

wip
  tool/test/main_lib_test.mocks.dart
  tool/test/preparing_tests/test_generator/test_merger_test.dart
  tool/test/preparing_tests/test_generator/test_merger_test.mocks.dart
Due: none

wip
  tool/test/main_lib_test.mocks.dart
  tool/test/preparing_tests/testing_test.dart
Due: none

wip
  tool/test/preparing_tests/test_generator/test_generator_test.dart
  tool/test/preparing_tests/test_generator/test_generator_test.mocks.dart
Due: none

wip
  tool/test/main_lib_test.mocks.dart
  tool/test/update/version_test.dart
Due: none

wip
  tool/pubspec.yaml
  tool/test/main_lib_test.mocks.dart
Due: none

wip
  driver/pubspec.yaml
  tool/pubspec.yaml
Due: none

Making gif a bit less eyesore
  example/assets/demo.gif
  example/lib/app.dart
  example/lib/pages/page_1.dart
  example/lib/pages/page_3.dart
  example/lib/pages/page_4.dart
  example/pubspec.yaml
  example/test_driver/generic/generic.dart
Due: example

Making gif a bit less eyesore (#110)
  example/assets/demo.gif
  example/lib/app.dart
  example/lib/pages/page_1.dart
  example/lib/pages/page_3.dart
  example/lib/pages/page_4.dart
  example/pubspec.yaml
  example/test_driver/generic/generic.dart
Due: example

wip
  .github/workflows/build.yml
  tool/test/main_lib_test.mocks.dart
  tool/test/update/version_test.mocks.dart
Due: none

wip
  .gitignore
  tool/test/main_lib_test.dart
  tool/test/main_lib_test.mocks.dart
  tool/test/main_lib_test.mocks_keep.dart
  tool/test/preparing_tests/file_system_test.mocks.dart
  tool/test/preparing_tests/parameters_test.mocks.dart
  tool/test/preparing_tests/resolution_test.mocks.dart
  tool/test/preparing_tests/testing_test.mocks.dart
  tool/test/update/version_test.mocks.dart
  tool/test/utils/lazy_logger_test.mocks.dart
Due: none

wip
  tool/lib/src/preparing_tests/command_line/command_line_impl.dart
  tool/lib/src/preparing_tests/testing.dart
  tool/test/preparing_tests/testing_test.dart
Due: tool

wip
  tool/lib/src/preparing_tests/testing.dart
  tool/test/preparing_tests/parameters_test.dart
  tool/test/utils/lazy_logger_test.dart
Due: tool

wip
  driver/analysis_options.yaml
Due: none

wip
  tool/analysis_options.yaml
  tool/bin/main.dart
  tool/lib/src/preparing_tests/test_generator/test_generator.dart
  tool/lib/src/update/version.dart
  tool/test/main_lib_test.dart
  tool/test/preparing_tests/parameters_test.dart
  tool/test/preparing_tests/testing_test.dart
Due: tool

wip
  README.md
  driver/pubspec.yaml
  tool/test/preparing_tests/test_generator/test_generator_test.mocks.dart
  tool/test/preparing_tests/test_generator/test_merger_test.mocks.dart
Due: none

wip
  example/lib/app.dart
  example/lib/pages/base_page.dart
  example/lib/pages/page_1.dart
  example/lib/pages/page_2.dart
  example/lib/pages/page_3.dart
  example/lib/pages/page_4.dart
  example/pubspec.yaml
  example/test_driver/generic/generic.dart
  example/test_driver/generic/screenshots.dart
  example/test_driver/generic/test_configuration.dart
  example/test_driver/route_test.dart
  example/test_driver/simple_test.dart
  example/test_driver/subdir_tests/subdir_test.dart
Due: example
