Repository tomaszpolanski/fast_flutter_driver: changes, and which Codecov flags are due for each by the changed paths.
All: tool, driver, example

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      tool:
        flags: tool
      driver:
        flags: driver
      example:
        flags: example

flags:
  # filter the folder(s) you wish to measure by that flag
  tool:
    paths:
      - tool/lib/
  driver:
    paths:
      - driver/lib/
  example:
    paths:
      - example/lib/

WIP
  tool/bin/main.dart
  tool/test/preparing_tests/test_generator/test_generator_test.dart
Due: none

wip
  driver/analysis_options.yaml
  driver/lib/src/delayed.dart
  driver/lib/src/driver_helper.dart
  driver/lib/src/restart_widget.dart
  driver/lib/src/window_utils/window_utils.dart
  driver/pubspec.yaml
  driver/test/delayed_test.dart
  driver/test/driver_helper_test.dart
  driver/test/mockito_nnbd.dart
  driver/test/restart_widget_test.dart
  driver/test/window_utils/window_utils_test.dart
Due: driver

WIP
  tool/pubspec.lock
  tool/pubspec.yaml
Due: none

Fixing tests
  tool/bin/main.dart
  tool/test/main_lib_test.dart
Due: none

WIP
  tool/lib/src/preparing_tests/file_system.dart
  tool/lib/src/preparing_tests/testing.dart
Due: tool

Update build.yml
  .github/workflows/build.yml
Due: none

wip
  tool/bin/main.dart
  tool/lib/src/preparing_tests/file_system.dart
  tool/lib/src/preparing_tests/resolution.dart
  tool/lib/src/utils/lazy_logger.dart
  tool/pubspec.lock
  tool/test/preparing_tests/resolution_test.dart
  tool/test/preparing_tests/test_generator/test_generator_test.dart
  tool/test/utils/lazy_logger_test.dart
Due: tool

WIP
  tool/pubspec.yaml
Due: none

Migrating to null safety
  tool/CHANGELOG.md
  tool/dart
  tool/pubspec.lock
  tool/pubspec.yaml
Due: none

wip
  tool/analysis_options.yaml
  tool/dependencies/cli_util-0.2.0/.gitignore
  tool/dependencies/cli_util-0.2.0/.status
  tool/dependencies/cli_util-0.2.0/.travis.yml
  tool/dependencies/cli_util-0.2.0/AUTHORS
  tool/dependencies/cli_util-0.2.0/CHANGELOG.md
  tool/dependencies/cli_util-0.2.0/CONTRIBUTING.md
  tool/dependencies/cli_util-0.2.0/LICENSE
  tool/dependencies/cli_util-0.2.0/README.md
  tool/dependencies/cli_util-0.2.0/analysis_options.yaml
  tool/dependencies/cli_util-0.2.0/lib/cli_logging.dart
  tool/dependencies/cli_util-0.2.0/pubspec.yaml
  tool/dependencies/cli_util-0.2.0/tool/travis.sh
  tool/pubspec.lock
  tool/pubspec.yaml
Due: none

Update pubspec.yaml
  tool/pubspec.yaml
Due: none

wip
  tool/dependencies/cli_util-0.2.0/.gitignore
  tool/dependencies/cli_util-0.2.0/.status
  tool/dependencies/cli_util-0.2.0/.travis.yml
  tool/dependencies/cli_util-0.2.0/AUTHORS
  tool/dependencies/cli_util-0.2.0/CHANGELOG.md
  tool/dependencies/cli_util-0.2.0/CONTRIBUTING.md
  tool/dependencies/cli_util-0.2.0/LICENSE
  tool/dependencies/cli_util-0.2.0/README.md
  tool/dependencies/cli_util-0.2.0/analysis_options.yaml
  tool/dependencies/cli_util-0.2.0/lib/cli_logging.dart
  tool/dependencies/cli_util-0.2.0/pubspec.yaml
  tool/dependencies/cli_util-0.2.0/tool/travis.sh
  tool/lib/src/preparing_tests/commands.dart
  tool/lib/src/preparing_tests/testing.dart
  tool/pubspec.lock
  tool/pubspec.yaml
Due: tool

wip
  driver/lib/src/restart_widget.dart
  driver/lib/src/window_utils/macos_window.dart
  driver/pubspec.yaml
Due: driver

wip
  tool/pubspec.lock
  tool/pubspec.yaml
  tool/test/preparing_tests/commands_test.dart
  tool/test/preparing_tests/logger_extensions_test.dart
Due: none

wip
  tool/bin/main.dart
  tool/lib/src/preparing_tests/commands.dart
  tool/pubspec.lock
  tool/pubspec.yaml
Due: tool

wip
  driver/example/pubspec.yaml
  driver/lib/src/driver_helper.dart
  driver/pubspec.yaml
  driver/test/driver_helper_test.dart
  tool/lib/src/running_tests/test_properties.dart
  tool/pubspec.lock
  tool/pubspec.yaml
Due: tool, driver

wip
  tool/pubspec.lock
  tool/pubspec.yaml
  tool/test/preparing_tests/parameters_test.dart
  tool/test/preparing_tests/resolution_test.dart
  tool/test/preparing_tests/testing_test.dart
Due: none

wip
  .github/workflows/build.yml
  .gitignore
  tool/test/main_lib_test.dart
  tool/test/utils/lazy_logger_test.dart
Due: none

wip
  .github/workflows/build.yml
  tool/analysis_options.yaml
Due: none

Update analysis_options.yaml
  driver/analysis_options.yaml
Due: none

wip
  README.md
  example/Dockerfile
  example/README.md
Due: none

Update pubspec.yaml
  example/pubspec.yaml
Due: none

Fixing version checking
  tool/CHANGELOG.md
  tool/bin/main.dart
  tool/lib/src/update/version.dart
  tool/pubspec.yaml
  tool/test/update/version_test.dart
Due: tool

Fixing version checking (#107)
  tool/CHANGELOG.md
  tool/bin/main.dart
  tool/lib/src/update/version.dart
  tool/pubspec.yaml
  tool/test/update/version_test.dart
Due: tool

wip
  tool/lib/src/utils/colorize/src/color.dart
  tool/lib/src/utils/colorize/src/colorize.dart
  tool/lib/src/utils/colorize/src/styles.dart
  tool/lib/src/utils/colorizing.dart
  tool/pubspec.lock
  tool/pubspec.yaml
Due: tool

wip
  tool/test/preparing_tests/resolution_test.dart
Due: none

wip
  tool/lib/src/preparing_tests/commands.dart
  tool/lib/src/preparing_tests/testing.dart
  tool/test/preparing_tests/testing_test.dart
Due: tool

wip
  tool/test/preparing_tests/testing_test.dart
  tool/test/utils/lazy_logger_test.dart
Due: none

Update main_lib_test.dart
  tool/test/main_lib_test.dart
Due: none

Update parameters_test.dart
  tool/test/preparing_tests/parameters_test.dart
Due: none

wip
  tool/analysis_options.yaml
  tool/test/main_lib_test.dart
  tool/test/main_lib_test.mocks_keep.dart
Due: none

wip
  driver/lib/src/driver_helper.dart
  driver/pubspec.yaml
  driver/test/driver_helper_test.dart
  tool/lib/fast_flutter_driver_tool.dart
Due: tool, driver

wip
  driver/CHANGELOG.md
  driver/pubspec.yaml
Due: none

wip
  tool/pubspec.lock
  tool/pubspec.yaml
Due: none

wip
  .gitignore
  tool/pubspec.lock
  tool/pubspec.yaml
  tool/test/preparing_tests/parameters_test.mocks.dart
  tool/test/preparing_tests/resolution_test.mocks.dart
  tool/test/preparing_tests/testing_test.mocks.dart
  tool/test/utils/lazy_logger_test.mocks.dart
Due: none

wip
  driver/test/mockito_nnbd.dart
  driver/test/window_utils/window_utils_test.dart
Due: none
